praw==7.8.1
pandas==2.2.3
nltk==3.9.1
spacy==3.8.0
textblob==0.17.1
scikit-learn==1.6.1
schedule==1.2.2
configparser==6.0.0
SQLAlchemy==2.0.38
requests==2.32.3
certifi==2024.2.2
urllib3==2.3.0
PySocks==1.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz 